.App {
  min-height: 100vh;
  text-align: center;
  background-color: #F6F7F9;
}

.App-container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #F6F7F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  color: #595959;
}

.App-content {
  margin-top: 60px;
  margin-bottom: 48px;
}

.App-link {
  color: #3f51b5;
}

.add-stock-button{
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  height: 60px;
  background-color: #3f51b5 !important;
  /* border: 2px solid #002984 !important; */
  border-radius: 12px !important;
  margin-bottom: 30px !important;
  color: white !important;
  font-weight: 600 !important;
}

