@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
} 

.modal-container{
    position:fixed;
    width: 40%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);   
}

.modal-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    background: #3f51b5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.modal-content{
    background: white;
    padding-bottom: 30px;
    width: 100%;
    font-size: 11px;
    float: left;
}

.modal-footer{
    text-align: right;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 20px;
    padding-bottom: 20px;
}

button{
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 4px;
    border: none
}

button.save{
    color: white;
    background-color: #3f51b5 !important;
}

button.cancel{
    background: none;
}

.content-title{
    margin: 0;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
}

.content-object{
    float: left;
    clear: left ;
    margin-left: 10px; 
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 30px;
    width: 87.6%;
    
}

.content-object.dropdown{
    width: 94%;
}

.input-amount{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.cross-close-button{
    font-size: 25px;
    transform: rotate(45deg);
    margin-bottom: 0px;
    margin-top: 10px;
}

.add-stock-button{
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif !important;
    height: 60px;
    background-color: #3f51b5 !important;
    /* border: 2px solid #002984 !important; */
    border-radius: 12px !important;
    margin: 30px 0px !important;
    color: white !important;
    font-weight: 600 !important;
}
